:host {
  display: block;
  flex-basis: 80px;
  flex-shrink: 1;
  flex-grow: 0;
}

footer {
  width: 100%;
  //height: 100%;
  background-color: black;
  text-align: center;

  svg {
    path {
      fill: orange
    }
  }

  .footer-media-icons {
    font-size: 2rem;
  }
}

i:hover {
  opacity: 0.7;
}
