<nav class="navbar navbar-expand-md navbar-dark bg-warning">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">Cinema</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']">About Us</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/price-list']">Price list</a>
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <ng-container *ngIf="!isLoggedIn()">
            <button class="btn btn-outline-primary" id="loginDropdown" ngbDropdownToggle>Log in</button>
            <div ngbDropdownMenu aria-labelledby="loginDropdown">
              <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="px-4 py-3">
                <div class="form-group">
                  <label for="formEmail">Email</label>
                  <input type="email" class="form-control" id="formEmail" formControlName="email" placeholder="Email"
                         [ngClass]="{'is-invalid': loginForm.get('email').errors
                && loginForm.get('email').touched}">
                  <div class="invalid-feedback">Please choose an email.</div>
                </div>
                <div class="form-group">
                  <label for="formPassword">Password</label>
                  <input type="password" class="form-control" id="formPassword" formControlName="password"
                         placeholder="Password"
                         [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}"
                  >
                  <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('required')
                && loginForm.get('password').touched">Please choose a password.
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
              </form>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem routerLink="/register">New around here? Sign up</button>
              <button ngbDropdownItem>Forgot password?</button>
            </div>
          </ng-container>
          <ng-container *ngIf="isLoggedIn()">
            <div class="dropdown" dropdown>
              <a class="dropdown-toggle " dropdownToggle >
                Welcome {{authService.dekodedToken?.unique_name | titlecase}}
              </a>
              <div class="dropdown-menu mt-3" *dropdownMenu >
                <div class="dropdown"></div>
                <a class="dropdown-item" ><i class="fa fa-sign-out"></i> Logout</a>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
