<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    <a class="navbar-brand pr-5 border-right" [routerLink]="['/']"> <fa-icon style="font-size: 60px" [icon]="faVideo"></fa-icon></a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contact']"><fa-icon [icon]="faAddressCard"></fa-icon>  Contact</a>
      </li>
      <li class="nav-item mx-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about']"><fa-icon [icon]="faBuilding"></fa-icon>  About Us</a>
      </li>
      <li class="nav-item mx-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/price-list']"><fa-icon [icon]="faCash"></fa-icon>  Price list</a>
      </li>
      <li class="nav-item mx-3" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/price-list']"><fa-icon [icon]="faImage"></fa-icon>  Cinema gallery</a>
      </li>
    </ul>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <ng-container *ngIf="!isLoggedIn()">
            <button class="btn btn-outline-danger" id="loginDropdown" ngbDropdownToggle>Log in</button>
            <div ngbDropdownMenu aria-labelledby="loginDropdown">
              <form [formGroup]="loginForm" (ngSubmit)="logIn()" class="px-4 py-3">
                <div class="form-group">
                  <label for="formEmail">Email</label>
                  <input type="email" class="form-control" id="formEmail" formControlName="email" placeholder="Email"
                         [ngClass]="{'is-invalid': loginForm.get('email').errors
                && loginForm.get('email').touched}">
                  <div class="invalid-feedback">Please choose an email.</div>
                </div>
                <div class="form-group">
                  <label for="formPassword">Password</label>
                  <input type="password" class="form-control" id="formPassword" formControlName="password"
                         placeholder="Password"
                         [ngClass]="{'is-invalid': loginForm.get('password').errors && loginForm.get('password').touched}"
                  >
                  <div class="invalid-feedback" *ngIf="loginForm.get('password').hasError('required')
                && loginForm.get('password').touched">Please choose a password.
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
              </form>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem routerLink="/register">New around here? Sign up</button>
            </div>
          </ng-container>
          <ng-container *ngIf="isLoggedIn()">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor
                      (focus)="myDrop.open()">Welcome {{getUserDecodedToken()?.unique_name | titlecase}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem>My profile</button>
                <ng-container *ngIf="isAdminOrEmployee()">
                  <button ngbDropdownItem routerLink="/reservations">Manage reservations</button>
                  <button ngbDropdownItem routerLink="/add/show">Add a show</button>
                  <button ngbDropdownItem routerLink="/add/movie">Add a movie</button>
                  <button ngbDropdownItem routerLink="/add/hall">Add a hall</button>
                </ng-container>
                <button ngbDropdownItem (click)="logout()">Logout</button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</nav>
