.container {
  color: #fff;
}

.seat-reserved {
  background-color: red !important;
}

.seat-available {
  background-color: gray !important;
}

.seat-chosen {
  background-color: green !important;
}

.currentShow {
  opacity: 50% !important;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . ."
    ". . . . . . . . . .";
}

.movie {
  & .movie-gallery {
    width: 50% ;
    height: 400px;

    & img {
      object-fit: contain !important;
      max-width: 100%;
    }
  }

  & .movie-description {
    width: 50%;
    font-size: 1rem;
  }
}

.no-provided-shows {
  text-decoration: underline;
  margin-top: 25px;
}

