.seat-reserved {
  background-color: red !important;
}

.seat-available {
  background-color: gray !important;
}

.seat-chosen {
  background-color: green !important;
}

.currentShow {
  opacity: 50% !important;
}
