<div class="container add-show">
  <form [formGroup]="showForm" (ngSubmit)="addShow()">
    <h1 class="text-center text-primary mt-4">Add a show</h1>
    <hr>
    <div class="form-group">

      <div class="form-group">
        <label>MOVIE TITLE</label>
        <select [ngClass]="{'is-invalid': showForm.get('movieId').errors && showForm.get('movieId').touched}" class="form-control"
                placeholder="Movie" formControlName="movieId">
          <option *ngFor="let movie of movies" ngValue="{{movie?.id}}">{{movie?.title}}</option>
        </select>
        <div class="invalid-feedback"
             *ngIf="showForm.get('movieId').touched && showForm.get('movieId').hasError('required')">Movie is required
        </div>
      </div>

      <div class="form-group">
        <label>HALL NUMBER</label>
        <select [ngClass]="{'is-invalid': showForm.get('hallId').errors && showForm.get('hallId').touched}"
                class="form-control"
                placeholder="Hall" formControlName="hallId">
          <option *ngFor="let hall of halls" ngValue="{{hall?.id}}">Hall number {{hall?.hallNumber}} ({{hall?.seatNumbers}} seats)</option>

        </select>
        <div class="invalid-feedback" *ngIf="showForm.get('hallId').touched && showForm.get('hallId').hasError('required')">
          Hall is required
        </div>
      </div>

      <div class="form-group">
        <label>DATE PLAYED</label>
        <input [ngClass]="{'is-invalid': showForm.get('datePlayed').errors && showForm.get('datePlayed').touched}"
               class="form-control"
               placeholder="Date played" formControlName="datePlayed" type="datetime-local">
        <div class="invalid-feedback"
             *ngIf="showForm.get('datePlayed').touched && showForm.get('datePlayed').hasError('required')">Date played
          is required
        </div>
      </div>

      <div class="form-group text-center">
        <button class="btn btn-success" [disabled]="!showForm.valid" type="submit">Add</button>
      </div>
    </div>
  </form>

  <p>{{showForm.value | json}}</p>
  <p>{{showForm.status | json}}</p>
</div>
